<div class="container">
  <div class="row">
    <div class="col">
      <h1>マイレシピ一覧</h1>
        <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe) do %>
          <%= attachment_image_tag recipe, :image, :fill, 200, 200 %>
          <h3><%= recipe.name %></h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
