<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>マイページ</h1>
      <%= link_to "レシピを探す", recipes_path, class:'btn btn-default' %>
      <%= link_to "レシピを作る", new_recipe_path, class:'btn btn-default' %>
      <%= link_to "料理のジャンル", recipe_genres_path, class:'btn btn-default' %>
    </div>
  </div>
</div>


